[submodule "blocks/curator/repos/legoflow-curator"]
	path = blocks/curator/repos/legoflow-curator
	url = https://github.com/SWE-Lego/LegoFlow-SWE-Curator.git
	branch = main
[submodule "blocks/trainer/repos/swe_data_process"]
	path = blocks/trainer/repos/swe_data_process
	url = https://github.com/SWE-Lego/swe_data_process.git
	branch = main
[submodule "blocks/tracer/repos/harbor"]
	path = blocks/tracer/repos/harbor
	url = git@github.com:SWE-Lego/harbor.git
[submodule "blocks/trainer/repos/LLaMA-Factory"]
	path = blocks/trainer/repos/LLaMA-Factory
	url = https://github.com/SWE-Lego/LLaMA-Factory.git
	branch = main
[submodule "blocks/evaluator/repos/harbor"]
	path = blocks/evaluator/repos/harbor
	url = git@github.com:SWE-Lego/harbor.git
