@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --c-slate-50: 248 250 252;
    --c-slate-100: 241 245 249;
    --c-slate-200: 226 232 240;
    --c-slate-300: 203 213 225;
    --c-slate-400: 148 163 184;
    --c-slate-500: 100 116 139;
    --c-slate-600: 71 85 105;
    --c-slate-700: 51 65 85;
    --c-slate-800: 30 41 59;
    --c-slate-900: 15 23 42;
    --c-slate-950: 2 6 23;

    --chart-grid: #1e293b;
    --chart-axis: #475569;
    --chart-tick: #64748b;
  }

  [data-theme="light"] {
    --c-slate-50: 2 6 23;
    --c-slate-100: 15 23 42;
    --c-slate-200: 30 41 59;
    --c-slate-300: 51 65 85;
    --c-slate-400: 100 116 139;
    --c-slate-500: 148 163 184;
    --c-slate-600: 179 189 204;
    --c-slate-700: 203 213 225;
    --c-slate-800: 226 232 240;
    --c-slate-900: 241 245 249;
    --c-slate-950: 255 255 255;

    --chart-grid: #e2e8f0;
    --chart-axis: #94a3b8;
    --chart-tick: #64748b;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--c-slate-700));
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--c-slate-600));
  }
}
